.desktop {
  width: 1440px;
  height: 1201px;
  background-color: #ffffff;
  zoom: 105.5%;
}

.desktop .overlap {
  position: relative;
  height: 1201px;
  background-color: #000000;
}

.desktop .text-wrapper {
  top: 460px;
  position: absolute;
  left: 1050px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 0;
  left: 0;
}

.desktop .div {
  position: absolute;
  width: 250px;
  height: 70px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 153px;
  top: -1px;
  left: 55px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 0.01%, rgb(246, 104, 68) 50.1%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .FITNESS-TRAINING {
  position: absolute;
  width: 122px;
  top: 47px;
  left: 72px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1303px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 52px;
  top: 4px;
  left: 14px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-2 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 895px;
}

.desktop .text-wrapper-4 {
  top: 4px;
  left: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 997px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 4px;
  left: 9px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1099px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 4px;
  left: 17px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1201px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 66px;
  top: 4px;
  left: 7px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  position: absolute;
  width: 1440px;
  height: 365px;
  top: 836px;
  left: 0;
  background: linear-gradient(180deg, rgba(118.79, 118.79, 118.79, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

.desktop .frame-7 {
  position: absolute;
  width: 250px;
  height: 70px;
  top: 33px;
  left: 52px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 118px;
  left: 57px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .prime-fitness {
  position: absolute;
  top: 38px;
  left: 479px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 95px;
  left: 509px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-8 {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 294px;
  left: 0;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
}

.desktop .copyright {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 566px;
  object-fit: cover;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 20px;
  left: 599px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .pin-alt-light {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 94px;
  left: 479px;
}

.desktop .overlap-group {
  position: absolute;
  width: 226px;
  height: 35px;
  top: 139px;
  left: 483px;
}

.desktop .phone {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 6px;
}

.desktop .vector {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 26px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .message {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 181px;
  left: 479px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 181px;
  left: 509px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  top: 38px;
  left: 1158px;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 181px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 138px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  top: 130px;
  position: absolute;
  width: 200px;
  height: 1px;
  left: 1158px;
}

.desktop .img {
  top: 170px;
  position: absolute;
  width: 200px;
  height: 1px;
  left: 1158px;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 95px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 283px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .contact-us {
  position: absolute;
  width: 255px;
  height: 35px;
  top: 223px;
  left: 200px;
}

.desktop .text-wrapper-17 {
  position: absolute;
  top: 206px;
  left: 800px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  position: absolute;
  top: 346px;
  left: 800px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  position: absolute;
  top: 423px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  position: absolute;
  top: 460px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  top: 423px;
  position: absolute;
  left: 1050px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  top: 523px;
  left: 800px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 600;
  color: transparent;
  font-size: 40px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  position: absolute;
  top: 600px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-24 {
  position: absolute;
  top: 637px;
  left: 800px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
 a:hover {
  opacity: 0.8;
 }

 iframe{
  position: absolute;
  top: 300px;
  left: 150px;
 }