.desktop {
  position: relative;
  width: 1440px;
  height: 6826px;
  background-color: #000000;
  zoom: 105.5%;
}

.desktop .overlap {
  position: absolute;
  width: 1440px;
  height: 900px;
  top: 0;
  left: 0;
  background-image: url(./img/804834-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .ALL-YOUR-NEEDS-FOR {
  position: absolute;
  width: 593px;
  height: 29px;
  top: 506px;
  left: 422px;
}

.desktop .frame {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 0;
  left: 0;
}

.desktop .div {
  position: absolute;
  width: 250px;
  height: 70px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper {
  position: absolute;
  width: 153px;
  top: -1px;
  left: 55px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 0.01%, rgb(246, 104, 68) 50.1%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .FITNESS-TRAINING {
  position: absolute;
  width: 122px;
  top: 47px;
  left: 72px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1303px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
}

.desktop .text-wrapper-2 {
  width: 52px;
  top: 4px;
  left: 14px;
  font-size: 15px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-2 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 895px;
}

.desktop .text-wrapper-3 {
  top: 4px;
  left: 18px;
  font-size: 15px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 997px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 4px;
  left: 9px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1099px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 4px;
  left: 17px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 20px;
  left: 1201px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 66px;
  top: 4px;
  left: 7px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  position: absolute;
  width: 1440px;
  height: 365px;
  top: 6461px;
  left: 0;
  background: linear-gradient(180deg, rgba(118.79, 118.79, 118.79, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

.desktop .frame-7 {
  position: absolute;
  width: 250px;
  height: 70px;
  top: 33px;
  left: 52px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 118px;
  left: 57px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .prime-fitness {
  position: absolute;
  top: 38px;
  left: 479px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 95px;
  left: 509px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .pin-alt-light {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 94px;
  left: 479px;
}

.desktop .overlap-group {
  position: absolute;
  width: 226px;
  height: 35px;
  top: 139px;
  left: 483px;
}

.desktop .phone {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 6px;
}

.desktop .vector {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 26px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .message {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 181px;
  left: 479px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 181px;
  left: 509px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  top: 38px;
  left: 1158px;
  font-size: 25px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 181px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 138px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  top: 130px;
  position: absolute;
  width: 200px;
  height: 1px;
  left: 1158px;
}

.desktop .img {
  top: 170px;
  position: absolute;
  width: 200px;
  height: 1px;
  left: 1158px;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 95px;
  left: 1158px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-8 {
  position: absolute;
  width: 1440px;
  height: 70px;
  top: 295px;
  left: 0;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
}

.desktop .copyright {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 566px;
  object-fit: cover;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 20px;
  left: 599px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .our-facilities {
  position: absolute;
  width: 259px;
  height: 31px;
  top: 976px;
  left: 21px;
}

.desktop .element {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 1079px;
  left: 57px;
  object-fit: cover;
}

.desktop .sven-mieke {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 1565px;
  left: 631px;
  object-fit: cover;
}

.desktop .alina-chernysheva {
  position: absolute;
  width: 420px;
  height: 400px;
  top: 1565px;
  left: 57px;
  object-fit: cover;
}

.desktop .frame-9 {
  position: absolute;
  width: 650px;
  height: 400px;
  top: 1079px;
  left: 790px;
  background: linear-gradient(180deg, rgba(57, 57, 57, 0.25) 0%, rgba(57, 57, 57, 0) 100%);
}

.desktop .ellipse {
  top: 40px;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 40px;
  border-radius: 4px;
  border: 4px solid;
  border-color: #f66844;
}

.desktop .ellipse-2 {
  top: 132px;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 40px;
  border-radius: 4px;
  border: 4px solid;
  border-color: #f66844;
}

.desktop .ellipse-3 {
  top: 223px;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 40px;
  border-radius: 4px;
  border: 4px solid;
  border-color: #f66844;
}

.desktop .ellipse-4 {
  top: 315px;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 40px;
  border-radius: 4px;
  border: 4px solid;
  border-color: #f66844;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 460px;
  top: 25px;
  left: 84px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 410px;
  top: 117px;
  left: 84px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 405px;
  top: 208px;
  left: 84px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 314px;
  top: 300px;
  left: 84px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .double-effective {
  position: absolute;
  width: 919px;
  height: 40px;
  top: 5747px;
  left: 23px;
}

.desktop .john-fornander {
  position: absolute;
  width: 280px;
  height: 340px;
  top: 5903px;
  left: 580px;
  object-fit: cover;
}

.desktop .john-fornander-2 {
  position: absolute;
  width: 280px;
  height: 340px;
  top: 5903px;
  left: 1040px;
  object-fit: cover;
}

.desktop .cassandra-martin-gym {
  position: absolute;
  width: 280px;
  height: 340px;
  top: 5903px;
  left: 120px;
  object-fit: cover;
}

.desktop .frame-10 {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 6350px;
  left: 625px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
}

.desktop .text-wrapper-19 {
  width: 103px;
  top: 6px;
  left: 48px;
  font-size: 20px;
  position: absolute;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 588px;
  top: 2059px;
  left: 0;
}

.desktop .frame-11 {
  position: absolute;
  width: 1440px;
  height: 587px;
  top: 1px;
  left: 0;
  overflow: hidden;
}

.desktop .fitness-la-gi {
  position: absolute;
  width: 520px;
  height: 330px;
  top: 129px;
  left: 459px;
  object-fit: cover;
}

.desktop .the-bar-is-an-iron {
  position: absolute;
  width: 1316px;
  top: 520px;
  left: 61px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-12 {
  position: absolute;
  width: 1433px;
  height: 451px;
  top: 1760px;
  left: 61px;
  overflow: hidden;
}

.desktop .element-leg-press-machine {
  position: absolute;
  width: 357px;
  top: -1px;
  left: 13px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .leg-press-machine {
  position: absolute;
  width: 400px;
  height: 316px;
  top: -7754px;
  left: -5473px;
  object-fit: cover;
}

.desktop .the-leg-trainer-is {
  position: absolute;
  width: 1391px;
  top: 394px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 157px;
  top: 0;
  left: 19px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 588px;
  top: 2796px;
  left: 0;
}

.desktop .frame-13 {
  position: absolute;
  width: 1440px;
  height: 587px;
  top: 1px;
  left: 0;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
}

.desktop .rectangle {
  position: absolute;
  width: 1440px;
  height: 326px;
  top: -6785px;
  left: -5857px;
}

.desktop .ti-xung {
  position: absolute;
  width: 520px;
  height: 330px;
  top: 129px;
  left: 451px;
  object-fit: cover;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 1334px;
  top: 521px;
  left: 61px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 231px;
  top: 0;
  left: 19px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .frame-14 {
  position: absolute;
  width: 1440px;
  height: 587px;
  top: 3534px;
  left: 0;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 370px;
  top: -1px;
  left: 19px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img-2 {
  position: absolute;
  width: 520px;
  height: 330px;
  top: 129px;
  left: 436px;
  object-fit: cover;
}

.desktop .the-leg-trainer-is-2 {
  position: absolute;
  width: 1103px;
  top: 530px;
  left: 144px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-15 {
  position: absolute;
  width: 1440px;
  height: 587px;
  top: 4271px;
  left: 0;
}

.desktop .text-wrapper-24 {
  position: absolute;
  width: 245px;
  top: -1px;
  left: 19px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 1103px;
  top: 520px;
  left: 168px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .fitness-la-gi-2 {
  position: absolute;
  width: 520px;
  height: 330px;
  top: 129px;
  left: 460px;
  object-fit: cover;
}

.desktop .frame-16 {
  position: absolute;
  width: 1440px;
  height: 587px;
  top: 5008px;
  left: 0;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 534px;
  top: -1px;
  left: 19px;
  background: linear-gradient(180deg, rgb(246, 104, 68) 0%, rgb(255, 146, 27) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 1139px;
  top: 520px;
  left: 150px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

a:hover {
  opacity: 0.8;
}